*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #ac645c;
}

.body-container{
    height: 50vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 30px 100px;
    justify-content: space-around;
    border: 2px dotted black;
    background-color: #b4c9de;
    color: black;
}

.rate-div > i{
    color: yellow;
}

.rate-div > span{
    color: red;
}

.body-container h5{
    margin-top: 10px;
    text-align: start;
}

/* .body-container *{
    margin: 10px 0;
} */

body h2, h3{
    letter-spacing: 2px;
    font-family: monospace;
}

.priceString-container{
    padding: 10px 65px;
    border: 2px solid black;
}